<a href="https://colab.research.google.com/github/ayanmmm/Assignment13/blob/main/KNN_Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [30]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

**Importing the dataset**

In [31]:
df=pd.read_csv('/content/Social_Network_Ads.csv')

In [32]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [33]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['Gender']= label_encoder.fit_transform(df['Gender'])

**Splitting the dataset into the Training set and Test set**

In [34]:
y=df['Purchased']
x=df[['Gender','Age','EstimatedSalary']]

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2)

**Feature Scaling**

In [36]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
x_train=std.fit_transform(x_train)
x_test=std.transform(x_test)

**Fitting K-NN to the Training set**

In [37]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
knn = KNeighborsClassifier(5)
knn.fit(x_train,y_train)
knn.score(x_test,y_test)

for i in [1,2,3,4,5,6,7,8,9,10,20,50]:

  knn = KNeighborsClassifier(i,metric='euclidean', p=2 ) #initialising the model
  knn.fit(x_train,y_train) # training the model
  print("K value  : " , i, " train score : ", knn.score(x_train,y_train) , " cv score : ", np.mean(cross_val_score(knn, x_train, y_train, cv=10))) #predicting using the model

K value  :  1  train score :  0.996875  cv score :  0.88125
K value  :  2  train score :  0.934375  cv score :  0.859375
K value  :  3  train score :  0.925  cv score :  0.890625
K value  :  4  train score :  0.909375  cv score :  0.890625
K value  :  5  train score :  0.915625  cv score :  0.9125
K value  :  6  train score :  0.915625  cv score :  0.9
K value  :  7  train score :  0.915625  cv score :  0.909375
K value  :  8  train score :  0.9125  cv score :  0.909375
K value  :  9  train score :  0.9125  cv score :  0.915625
K value  :  10  train score :  0.91875  cv score :  0.9125
K value  :  20  train score :  0.909375  cv score :  0.884375
K value  :  50  train score :  0.821875  cv score :  0.803125

**Predicting the Test set results**

In [39]:
y_pred=knn.predict(x_test)

**Making the Confusion Matrix**

In [40]:
print("Confusion Matrix: \n",confusion_matrix(y_test, y_pred))

Confusion Matrix:
 [[52  3]
 [13 12]]

In [41]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.95      0.87        55
           1       0.80      0.48      0.60        25

    accuracy                           0.80        80
   macro avg       0.80      0.71      0.73        80
weighted avg       0.80      0.80      0.78        80